local.*
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.idea
anno4j.iml

*.iml
*/target/
anno4j-core/target
anno4j-alibaba/target
anno4j-recommendation/target
anno4j-ontologies/target
anno4j-ontologies/ontologies-core/target
anno4j-ontologies/ontologies-mico/target